.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.row{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.square{
    height: 50px;
    width: 50px;
    background-color: darkgreen;
    border: 3px solid black;
}

.hover{
    background-color: burlywood;
}